@import "../../global.scss";

.menu {
  width: 300px;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;

  .itemContainer {
    display: flex;
    align-items: center;
    // margin-top: 40px;


    .icon {
      padding-bottom: 2px;
      font-size: 18px;
      margin-right: 5px;
      color: white;
    }
    .icon_2 {
      padding-top: 1px;
      font-size: 18px;
      margin-right: 5px;
      color: white;
    }
    span {
      font-size: 15px;
      color: white;
    }
  }

  &.active {
    right: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 35px;
    color: white;
    font-weight: 200;
    width: 60%;

    li {
      margin-bottom: 20px;

      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}
