@import "../../global.scss";


.works {
  background-color: #a79791;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  h1{
    margin-bottom: auto;
    font-size: 50px;
    margin-top: 10px;
    font-weight: 300;
    color: rgb(230, 225, 225);
    
    @include mobile{
        font-size: 20px;
      }
  }

  .arrow{
      height: 55px;
      position: absolute;
      cursor: pointer;
      bottom: 10px;
      @include mobile{
        height: 30px;
      }
      &.left{
        left: 100px;
        transform: rotateY(180deg);
      }
      &.right{
        right: 100px;
      }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-in;
    
    @include mobile{
        height: 100vh;
        // flex-direction: column;
        justify-content: center;
      }
    

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include mobile{
        flex-direction: column;
        width: 70%;
        height: 70%;
        margin: 20px 0;
        
      }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(141, 90, 49);
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 25px;
                overflow: hidden;
              }
            }
            h2 {
              font-size: 20px;
              overflow: hidden;
            }
            p {
              font-size: 13px;
              overflow: hidden;
            }
            span {
              font-size: 12;
              text-decoration: underline;
              font-weight: 600;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          @include mobile {
          flex: 3;
        }

          img{
              width: 400px;
              transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
